body {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 0px calc(50% - 412.5px);
}

.nameblok {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   height: 60px;
   width: 825px;
}

.namebasket {
   margin-left: -5px;
   min-width: 725px;
   font-size: 22px;
   margin: 10px 0 0 20px;
   height: 60px;
   width: 100px;
}

.basket {
   height: 50px;
   max-width: 50px;
   font-size: 22px;
   margin: 15px 10px 0px 0px;
}

.modalBasket {
   width: 825px;
   height: 100%;
   display: none;
   position: absolute;
}

.modalBasket .__containerBasket {
   width: 400px;
   height: 450px;
   background: white;
   box-sizing: border-box;
   top: 50px;
   right: 0px;
   justify-content: center;
   align-items: center;
   position: absolute;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(218, 226, 234, 0.6);
}

.buy {
   position: absolute;
   height: 50px;
   width: 200px;
   background-color: #0e49b5;
   color: white;
   font-size: 20px;
   border-radius: 10px;
   margin-top: 440px;
   margin-left: 525px;
}

.__containerBasket h1 {
   text-align: center;
   font-size: 26px;
}

.checkout {
   text-align: center;
   font-size: 18px;
   margin-top: -15px;
   padding-bottom: 20px;
   color: grey;
   border-bottom: 1px solid #dae2ea;
}

.cartitems{
   max-height: 200px;
   overflow-y: auto;
}

.cartitems_item {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #dae2ea;
}

.itms {
   margin-top: 10px;
   width: 120px;
   font-size: 14px;
   display: flex;
   flex-direction: column;
   padding: 10px;
   line-height: 3px;
}

.downb {
   width: 30px;
   height: 30px;
   color: white;
   background: #3e44b0;
   border: white;
   border-radius: 5px;
}

.upb {
   width: 30px;
   height: 30px;
   color: white;
   background: #3e44b0;
   border: white;
   border-radius: 5px;
}

.cancelb {
   margin-right: 25px;
   width: 30px;
   height: 30px;
   color: #e64443;
   background: #f9e1e3;
   border: white;
   border-radius: 5px;
}

.numbr {
   margin-left: 5px;
   text-align: center;
   color: #5f95fe;
}

.price {
   padding-top: 15px;
   text-align:center;
   height: 19px;
   width: 60px;
   color: #5f95fe;
   background: #ecf6ff;
   border-radius: 5px;
}

.total {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   background: #ebf3ff;
   padding: 5px 30px 5px 30px;
   color: grey;
}

.total strong {
   color: black;
}

.cartitems_item img {
   padding: 10px;
   width: 50px;
}

.imgblok {
   width: 825px;
   height: 440px;
}

.slidername {
   position: absolute;
   text-align: center;
   width: 825px;
   top: Calc(50% - 150px);
   color: white;
   font-size: 28px;
}

.bimg {
   position: absolute;
   top: Calc(50% + 40px);
   left: Calc(50% - 80px);
}

.finder {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   height: 50px;
   width: 825px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   border-radius: 10px;
}

.finderfind {
   padding: 10px;
   width: 50px;
}

.findertext {
   min-width: 650px;
   padding: 15px;
}

.finderfiter {
   padding-top: 15px;
   max-width: 50px;
}
.finderparam {
   padding-top: 15px;
   padding-right: 10px;
   max-width: 50px;
}

.find {
   margin: 10px 0 0 20px;
   height: 60px;
   width: 300px;
}

.textarea {
   font-size: 20px;
   margin: -10px 0 0 -30px;
   width: 100%;
   height: 150%;
   border: white;
}
.mainblock {
   display: flex;
   flex-wrap: inherit;
}

.container {
   max-height: 1540px;
   width: 825px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.containerwidth {
   width: 64%;
}

.card {
   height: 400px;
   width: 250px;
   padding: 10px 10px;
   box-sizing: border-box;
   margin: 10px 5px;
   font-size: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(218, 226, 234, 0.6);
}

.cardwhiteblock {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 300px;
   width: 100%;
}

.cardwhiteblocklr {
   text-align: center;
   font-size: 22px;
   width: 10%;
   margin-left: 25px;
}

.cardwhiteblockcntr {
   width: 80%;
}

.imghw {
   height: 200px;
   max-width: 180px;
}

.contcard {
   margin-left: -30%;
   width: 160%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 50px;
   line-height: 1px;
}

.addToCard {
   min-height: 50px;
   width: 160px;
   background-color: #0e49b5;
   color: white;
   font-size: 20px;
   border-radius: 10px;
   margin-top: -110px;
}

._none{
   background-color: #8f949c;
    border:none;
}

.mb {
   position: absolute;
   top: Calc(50% - 55px);
   left: Calc(50% + 200px);
   margin-top: 10px;
   width: 130px;
}

.positive_review {
   width: calc(100% + 20px);
   height: 40px;
   background-color: #dae2ea;
   font-size: 14px;
   margin-top: 55px;
   padding-top: 15px;
   border-radius: 0px 0px 10px 10px;
   line-height: 3px;
}

.love {
   max-width: 5%;
   height: 100%;
   margin-top: -20px;
   padding: 5px 5px 5px 5px;
   font-size: 10px;
}

.review {
   width: 65%;
   height: 100%;
   margin-top: -16px;
   padding: 5px 5px 5px 15px;
}

.clc {
   width: 30%;
   height: 100%;
   margin-top: -16px;
   text-align: center;
}

ul {
   display: flex;
   padding: 0;
}
li {
   list-style: none;
   font-size: 12px;
   padding: 5px 5px 5px 5px;
}

.fav{
   width: 30px;
   height: 30px;
   background: white;
   margin-top: -325px;
   margin-right: -190px;
   background-color: Transparent;
    border:none;
    font-size: 20px;   
}

.fav1{
   width: 30px;
   height: 30px;
   background: white;
   margin-top: -325px;
   margin-right: -190px;
   background-color: Transparent;
    border:none;
    font-size: 20px;   
}


.fullheart {
   margin: 4px 0 0 8px;
   color: #f05454;
   font-size: 16px;
}

.modal {
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   display: none;
   justify-content: center;
   align-items: center;
}
.modal .__container {
   width: 700px;
   height: 400px;
   background: white;
}

.active {
   display: flex;
}

.cntr {
   padding: 10px 50px 10px 50px;
   width: 40wv;
   border-left: 1px solid #dae2ea;
   border-right: 1px solid #dae2ea;
}

.positive_reviewmodal {
   width: calc(100% + 20px);
   height: 40px;
   background-color: #dae2ea;
   font-size: 14px;
   margin-top: 5px;
   padding-top: 15px;
   border-radius: 10px 10px 10px 10px;
   line-height: 3px;
}

.lil {
   padding: 0px 10px 0px 10px;
   width: 30wv;
}

.modalimg {
   padding-top: 75px;
   text-align: center;
}

.lir {
   margin-top: 5%;
   padding: 10px 0px 10px 30px;
   font-size: 14px;
   text-align: center;
   min-width: 15%;
}

.accFilter {
   display: none;
   width: 33%;
   box-shadow: 0 0 10px rgba(218, 226, 234, 0.6);
   border-radius: 10px;
   margin: 10px 10px 0 0;
}

.accFilteractiv {
   display: block;
}

.__header {
   display: flex;
   justify-content: space-between;
   padding: 20px 40px 0 50px;
   min-height: 50px;
   font-size: 24px;
   background: #ebf3ff;
   border-radius: 10px 10px 0px 0px;
}

.___container {
   display: none;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 10px 80px 10px 60px;
}

.--active {
   display: flex;
}

.--header_active {
   background: white;
}

.block {
   border-bottom: 1px solid #dae2ea;
}

label {
   display: block;
   font-size: 16px;
   padding: 5px 5px 5px 5px;
}

.fa-chevron-right {
   font-size: 16px;
}

.fa-chevron-down {
   font-size: 16px;
}

.sortmodal {
   width: 825px;
   display: none;
   position: absolute;
}

.block{
   display: block;
}

.sortmodal .__containerSort {
   display: block;
   width: 200px;
   height: 200px;
   background: white;
   box-sizing: border-box;
   top: 555px;
   right: 0px;
   position: absolute;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(218, 226, 234, 0.6);
   padding: 20px;
   font-size: 18px;
}

.orderText{
   text-align: left;
width: 100%;
height: 25%;
color: #2248b4;
}

.default{   
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 25%;
   background: #eef3ff;
   border-radius: 20px;
}

.ascending{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 25%;
}

.descending{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
height: 25%;
}
.inleft{
   width: 25%;
}
.inright{
   width: 75%;
}